body {
    background: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)), url(image.jpg);
    background-size: 100%;
    background-position: center;
}

.login-box {
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left {
    background: rgb(218, 207, 207);
    padding: 30px;
    opacity: 75%;
}

.login-right {
    background: rgb(218, 207, 207);
    padding: 30px;
    opacity: 70%;
}